
# VS project files:
*.sln
*.vcxproj
*.filters
*.sdf
*.opensdf
*.suo

# CMake configuration files:
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# VS build files:
Debug/
Release/
LambdaLifetimeTest.dir/
